*, *::before, *::after {
    font-family: 'Press Start 2P', cursive;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #333;
}

.container {
    width: 400px;
    max-width: 80%;
    background-color: transparent;
    padding: 10px;
}

.button-grid {
    display: grid; 
    grid-template-columns: repeat(1, auto);
    gap: 10px;
    margin-top: 20px;
}

.button {
    background: #424242;
    box-shadow: 0 5px #282828;    
    border: 3px solid hsla(0, 0%, 0%, 0);
    border-radius: 10px;
    height: 60px;
    padding: 5px 10px;
    color: white;
    font-size: 12px;
    outline: none;
}

.button:hover {
    border-color: white;
}

.description {
    margin: 10px;
    color: white;
    line-height: 20px;
    font-size: 10px;
}